body {
	margin:0;
	background:#000;
	overflow: scroll;
}

p {
	position: relative;
	font-size: 15px;
  text-align: justify;
  font-weight: bold;
  font-family: Noto Sans JP;
  min-height: 100vh;
	max-width:800px;
	word-spacing: 0px;
  letter-spacing: -1px;
	margin:0 auto;
  color: transparent;
  background: url(./content/johan-johan-liebert.gif) center/cover;
  -webkit-background-clip: text;
          background-clip: text;
	filter: grayscale(0) invert(0) saturate(140%);
  mix-blend-mode: hard-light;
}